<section>

    <div class="cont   m-5">
        {{#each products}}

        <div class="card item " style="width: 14rem;">
            <img src={{{this.imageUrl}}} class="card-img-top" alt="..." height="210rem">
            <div class="card-body">
                <h5 class="card-title">{{{this.name}}}</h5>
                <p class="card-text">{{{this.description}}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>




        {{/each}}



    </div>

</section>


{{!-- <div class="container cont">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div> --}}