body{
  color: white;
  
}



.cont{
 justify-content: center;
 display: flex;
 flex-wrap: wrap ;
 gap:1px;
 
}
.item{
  
  padding: 2px;
  flex-basis: 200;
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: blue;
  
}

@media screen and (max-width: 750px) {
  tbody, thead { float: left; max-height: fit-content; }
  thead { min-width: 120px }
  td,th { display: block }
}

.child{
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
  text-align: center;
  
}

.parent{
  float: right;
  margin: 10px;
  padding: 10px;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.cart-item-controls p {
  margin: 0; /* Remove default margins from the paragraph */
}
.cart-item-count{
  background-color: lightsteelblue;
  border-radius: 3px;
  color: white;
  border: none;
  width: 25px;
  margin: 2px;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.place-order {
  display: flex;
  flex-direction: column;
}

.address, .payment {
  margin-bottom: 20px;
}

.address h2, .payment h5 {
  margin-bottom: 20px;
}

.address label {
  margin-top: 10px;
  display: block;
}

.address input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.payment div {
  margin-top: 10px;
 
}
.payment{
  border: solid,1px;
  padding: 5px;
}

.payment hr {
  margin: 20px 0;
}

.btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .place-order {
      flex-direction: row;
      justify-content: space-between;
  }

  .address, .payment {
      width: 48%;
  }

  .btn {
      width: auto;
      float: right;
  }
}